@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  margin-top: 2vh;
}
header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 20vh;
}
header nav {
  width: 40%;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
header ul a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #5B5B5B;
  font-weight: 500;
}
header ul a button {
  display: flex;
  background-color: white;
  color: black;
  font-size: 1.25rem;
  height: 7vh;
  width: 12vw;
  border: solid;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

main .topo {
  background-image: url("./imagens/1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
main .topo div {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20vh;
  font-size: 4rem;
}
main .topo div p {
  font-size: 2rem;
}
main .topo div button {
  display: flex;
  margin-top: 10vh;
  background-color: blue;
  color: white;
  height: 10vh;
  width: 40vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 0px;
}
main .gestao {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .gestao article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5vw 15vh;
  width: 30vw;
}
main .gestao article h4 {
  color: blue;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
main .gestao article h1 {
  margin-bottom: 5vh;
  font-weight: bold;
  font-size: 2.5rem;
}
main .gestao article p {
  margin-bottom: 5vh;
  font-size: 1.5rem;
}
main .gestao img {
  margin: 2.5vw;
  width: 50vw;
}
main .solucoes {
  display: flex;
  background-color: lightgrey;
  align-items: center;
  justify-content: center;
  height: 120vh;
  flex-direction: column;
}
main .solucoes h3 {
  color: blue;
}
main .solucoes figure {
  display: flex;
  justify-content: space-evenly;
}
main .solucoes figure img {
  width: 300px;
  height: 200px;
}
main .solucoes figure .img1 {
  border: 2px solid red;
}
main .solucoes figure .img1 figcaption {
  font-size: 1rem;
  background-color: white;
}
main .solucoes figure .img1 figcaption p {
  text-align: justify;
}
main .solucoes figure .img2 {
  border: 2px solid blue;
}
main .solucoes figure .img2 figcaption {
  font-size: 1rem;
  background-color: white;
}
main .solucoes figure .img2 figcaption p {
  text-align: justify;
}
main .solucoes figure .img3 {
  border: 2px solid green;
}
main .solucoes figure .img3 figcaption {
  font-size: 1rem;
  background-color: white;
}
main .solucoes figure .img3 figcaption p {
  text-align: justify;
}

.atendimento {
  display: flex;
  height: 130vh;
  align-items: center;
  justify-content: space-evenly;
}
.atendimento .comercial h2 {
  margin: 5vh;
  margin-bottom: 2vh;
  margin-left: 3vw;
  font-size: 2.5rem;
  color: blue;
}
.atendimento .comercial h3 {
  margin: 5vh;
  margin-top: 2vh;
  margin-left: 3vw;
  font-size: 1.75rem;
}
.atendimento .comercial figure {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
}
.atendimento .comercial figure div figcaption {
  margin-bottom: 2vh;
}
.atendimento .comercial form {
  width: 50vw;
}
.atendimento .fale h2 {
  margin: 5vh;
  margin-bottom: 2vh;
  margin-left: 7vw;
  font-size: 2.5rem;
  color: blue;
}
.atendimento .fale h3 {
  margin: 5vh;
  margin-top: 2vh;
  margin-left: 7vw;
  font-size: 1.75rem;
}
.atendimento .fale form {
  display: flex;
  flex-direction: column;
  margin-left: 15vh;
}
.atendimento .fale form input {
  width: 32vw;
  height: 7vh;
  border: 2px solid black;
  margin-top: 2vh;
}
.atendimento .fale form button {
  color: white;
  background-color: blue;
  margin: 2vh;
  width: 15vw;
  height: 7.5vh;
  border: 0px;
  margin-left: 9vw;
}

footer {
  background-color: #D8D8D8;
  color: #001C43;
  font-weight: bold;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */