@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin-top: 2vh;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-left: 20vh;
    }

    nav {
        width: 40%;

    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        align-items: center;

        a {
            text-decoration: none;
            font-size: 1.25rem;
            color: #5B5B5B;
            font-weight: 500;

            button {
                display: flex;
                background-color: white;
                color: black;
                font-size: 1.25rem;
                height: 7vh;
                width: 12vw;
                border: solid;
                font-weight: bold;
                justify-content: center;
                align-items: center;
            }
        }


    }
}

main {

    .topo {
        background-image: url("./imagens/1.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;

        div {
            height: 100vh;
            color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 20vh;
            font-size: 4rem;

            p {
                font-size: 2rem;
            }

            button {
                display: flex;
                margin-top: 10vh;
                background-color: #0017E9;
                color: white;
                height: 10vh;
                width: 40vh;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                border: 0px;
            }
        }
    }

    .gestao {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        article {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 5vw 15vh;
            width: 30vw;


            h4 {
                color: #0017E9;
                font-size: 1.5rem;
                text-align: left;
                margin-bottom: 5vh;
                margin-top: 5vh;
            }

            h1 {
                margin-bottom: 5vh;
                font-weight: bold;
                font-size: 2.5rem;
            }

            p {
                margin-bottom: 5vh;
                font-size: 1.5rem;
            }
        }

        img {
            margin: 2.5vw;
            width: 50vw;

        }

    }

    .solucoes {
        display: flex;
        background-color: #D8D8D8;
        align-items: center;
        justify-content: center;
        height: 120vh;
        flex-direction: column;
        h3{
            color: #0017E9;
            margin-bottom: 5vh;
        }

        h2{
            margin-bottom: 10vh;
            
        }
       
        .imagens{
            width: 85vw;
            display: flex;
            justify-content: space-between;

            div{
                display: flex;
                flex-direction: column;
                box-shadow: #070707;
                background-color: white;
                img{
                    width: 25vw;
                    height: 38vh;
                }
                figcaption{
                    display: flex;
                    flex-direction: column;
                    width: 20vw;
                    height: 15vh;
                    margin: 1vw;
                    justify-content: center ;
                }
            }

            
        }
        
    }
}

.atendimento {
    display: flex;
    height: 130vh;
    align-items: center;
    justify-content: space-evenly;

    .comercial {
        h2 {
            margin: 5vh;
            margin-bottom: 2vh;
            margin-left: 3vw;
            font-size: 2.5rem;
            color: #0017E9;
        }

        h3 {
            margin: 5vh;
            margin-top: 2vh;
            margin-left: 3vw;
            font-size: 1.75rem;
        }

        figure {
            display: flex;
            width: 50vw;
            justify-content: space-evenly;

            div {
                figcaption {
                    margin-bottom: 2vh;
                }
            }

        }

        form {
            width: 50vw;
        }
    }

    .fale {

        h2 {
            margin: 5vh;
            margin-bottom: 2vh;
            margin-left: 7vw;
            font-size: 2.5rem;
            color: blue;
        }

        h3 {
            margin: 5vh;
            margin-top: 2vh;
            margin-left: 7vw;
            font-size: 1.75rem;
        }

        form {
            display: flex;
            flex-direction: column;
            margin-left: 15vh;


            input {
                width: 32vw;
                height: 6vh;
                border: 2px solid black;
                margin-top: 2vh;
            }

            .mensagem{
                height: 15vh;
                
            }

            button {
                color: white;
                background-color: #0017E9;
                margin: 2vh;
                width: 15vw;
                height: 7.5vh;
                border: 0px;
                margin-left: 9vw;
            }
        }
    }

}


footer {
    background-color: #D8D8D8;
    color: #001C43;
    font-weight: bold;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}